@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(content),
::view-transition-new(content) {
  animation-duration: 400ms;
}

::view-transition-old(content) {
  animation-name: fade-out;
  opacity: 1;
}

::view-transition-new(content) {
  animation-name: fade-in;
  opacity: 0;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}