---

---

<section class="h-[650px] pt-12">
  <div class="max-w-6xl mx-auto flex items-center justify-between h-full">
    <div class="text-white">
      <h1 class="text-6xl font-bold mb-4">
        Bienvenido a Pulse <span class="text-primary">Craft</span>
      </h1>
      <p class="text-lg mb-4">
        Tu compañero para el entrenamiento ideal si eres principiante
      </p>
      <div class="flex gap-x-4">
        <a
          href="/rutinas"
          class="bg-primary hover:opacity-80 transition-opacity text-white font-semibold py-2 px-4 rounded"
          >Explorar Rutinas</a
        >
        <a
          href="/ejercicios"
          class="bg-primary hover:opacity-80 transition-opacity text-white font-semibold py-2 px-4 rounded"
          >Ver Ejercicios</a
        >
      </div>
    </div>
    <div>
      <img
        src="/man_hero.webp"
        alt="Pulse Craft Logo"
        class="w-100 h-auto mx-auto mask-b-from-80% mask-b-to-90%"
      />
    </div>
  </div>
</section>
