---

---

<header class="fixed top-0 left-0 z-10 w-full bg-gray-900 shadow-lg">
  <nav
    class="mx-auto max-w-7xl w-full text-white flex items-center py-4 px-5 justify-between"
  >
    <div class="w-25 h-auto items-center justify-center">
      <img src="/pulse_bg_dark.webp" alt="Logo Pulse Craft" />
    </div>
    <ul class="flex items-center gap-6 justify-between w-full sm:w-auto">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Rutinas</a></li>
      <li><a href="#">Ejercicios</a></li>
      <li><a href="#">Calculadoras</a></li>
    </ul>
  </nav>
</header>
