---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/pulse_logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-white h-full w-full text-black">
    <Navbar />
    <main class="pt-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  ::view-transition-old(card),
  ::view-transition-new(card) {
    animation-duration: 400ms;
  }

  ::view-transition-old(card) {
    opacity: 1;
    animation-name: fade-out;
  }

  ::view-transition-new(card) {
    opacity: 0;
    animation-name: fade-in;
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
